In [2]:
%load_ext sql

In [3]:
%sql sqlite:///tvshows.db

#### **Many to Many** ####


| ID | firstname | lastname |
|----|-----------|----------


| ID | Tittle | releasedyear | genre |
|----|--------|---------------|--------|


| ID | rating | seriesID | Reviewer_id |
|----|--------|----------|--------------|

In [6]:
%%sql
CREATE TABLE reviewers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL
);

 * sqlite:///tvshows.db
Done.

[]

In [7]:
%%sql
CREATE TABLE series (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title VARCHAR(100),
    released_year YEAR,
    genre VARCHAR(100)
);

 * sqlite:///tvshows.db
Done.

[]

In [8]:
%%sql
CREATE TABLE reviews (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    rating DECIMAL(2 , 1 ),
    series_id INT,
    reviewer_id INT,
    FOREIGN KEY (series_id)
        REFERENCES series (id),
    FOREIGN KEY (reviewer_id)
        REFERENCES reviewers (id)
);

 * sqlite:///tvshows.db
Done.

[]

In [9]:
%%sql
INSERT INTO series (title, released_year, genre) VALUES
    ('Archer', 2009, 'Animation'),
    ('Arrested Development', 2003, 'Comedy'),
    ("Bob's Burgers", 2011, 'Animation'),
    ('Bojack Horseman', 2014, 'Animation'),
    ("Breaking Bad", 2008, 'Drama'),
    ('Curb Your Enthusiasm', 2000, 'Comedy'),
    ("Fargo", 2014, 'Drama'),
    ('Freaks and Geeks', 1999, 'Comedy'),
    ('General Hospital', 1963, 'Drama'),
    ('Halt and Catch Fire', 2014, 'Drama'),
    ('Malcolm In The Middle', 2000, 'Comedy'),
    ('Pushing Daisies', 2007, 'Comedy'),
    ('Seinfeld', 1989, 'Comedy'),
    ('Stranger Things', 2016, 'Drama');

 * sqlite:///tvshows.db
14 rows affected.

[]

In [10]:
%%sql
INSERT INTO reviewers (first_name, last_name) VALUES
    ('Thomas', 'Stoneman'),
    ('Wyatt', 'Skaggs'),
    ('Kimbra', 'Masters'),
    ('Domingo', 'Cortes'),
    ('Colt', 'Steele'),
    ('Pinkie', 'Petit'),
    ('Marlon', 'Crafford');

 * sqlite:///tvshows.db
7 rows affected.

[]

In [11]:
%%sql
INSERT INTO reviews(series_id, reviewer_id, rating) VALUES
    (1,1,8.0),(1,2,7.5),(1,3,8.5),(1,4,7.7),(1,5,8.9),
    (2,1,8.1),(2,4,6.0),(2,3,8.0),(2,6,8.4),(2,5,9.9),
    (3,1,7.0),(3,6,7.5),(3,4,8.0),(3,3,7.1),(3,5,8.0),
    (4,1,7.5),(4,3,7.8),(4,4,8.3),(4,2,7.6),(4,5,8.5),
    (5,1,9.5),(5,3,9.0),(5,4,9.1),(5,2,9.3),(5,5,9.9),
    (6,2,6.5),(6,3,7.8),(6,4,8.8),(6,2,8.4),(6,5,9.1),
    (7,2,9.1),(7,5,9.7),
    (8,4,8.5),(8,2,7.8),(8,6,8.8),(8,5,9.3),
    (9,2,5.5),(9,3,6.8),(9,4,5.8),(9,6,4.3),(9,5,4.5),
    (10,5,9.9),
    (13,3,8.0),(13,4,7.2),
    (14,2,8.5),(14,3,8.9),(14,4,8.9);

 * sqlite:///tvshows.db
47 rows affected.

[]

In [20]:
%%sql
SELECT title, IFNULL(AVG(rating),0) AS average_rating FROM series
    LEFT JOIN reviews ON series.id = reviews.series_id
    GROUP BY series.id
    ORDER BY average_rating ASC;

 * sqlite:///tvshows.db
Done.

[('Malcolm In The Middle', 0),
 ('Pushing Daisies', 0),
 ('General Hospital', 5.38),
 ("Bob's Burgers", 7.5200000000000005),
 ('Seinfeld', 7.6),
 ('Bojack Horseman', 7.94),
 ('Arrested Development', 8.08),
 ('Archer', 8.120000000000001),
 ('Curb Your Enthusiasm', 8.120000000000001),
 ('Freaks and Geeks', 8.6),
 ('Stranger Things', 8.766666666666667),
 ('Breaking Bad', 9.36),
 ('Fargo', 9.399999999999999),
 ('Halt and Catch Fire', 9.9)]

In [24]:
%%sql
SELECT first_name, last_name, rating FROM reviewers
    LEFT JOIN reviews ON reviewers.id = reviews.reviewer_id

 * sqlite:///tvshows.db
Done.

[('Thomas', 'Stoneman', 7),
 ('Thomas', 'Stoneman', 7.5),
 ('Thomas', 'Stoneman', 8),
 ('Thomas', 'Stoneman', 8.1),
 ('Thomas', 'Stoneman', 9.5),
 ('Wyatt', 'Skaggs', 5.5),
 ('Wyatt', 'Skaggs', 6.5),
 ('Wyatt', 'Skaggs', 7.5),
 ('Wyatt', 'Skaggs', 7.6),
 ('Wyatt', 'Skaggs', 7.8),
 ('Wyatt', 'Skaggs', 8.4),
 ('Wyatt', 'Skaggs', 8.5),
 ('Wyatt', 'Skaggs', 9.1),
 ('Wyatt', 'Skaggs', 9.3),
 ('Kimbra', 'Masters', 6.8),
 ('Kimbra', 'Masters', 7.1),
 ('Kimbra', 'Masters', 7.8),
 ('Kimbra', 'Masters', 7.8),
 ('Kimbra', 'Masters', 8),
 ('Kimbra', 'Masters', 8),
 ('Kimbra', 'Masters', 8.5),
 ('Kimbra', 'Masters', 8.9),
 ('Kimbra', 'Masters', 9),
 ('Domingo', 'Cortes', 5.8),
 ('Domingo', 'Cortes', 6),
 ('Domingo', 'Cortes', 7.2),
 ('Domingo', 'Cortes', 7.7),
 ('Domingo', 'Cortes', 8),
 ('Domingo', 'Cortes', 8.3),
 ('Domingo', 'Cortes', 8.5),
 ('Domingo', 'Cortes', 8.8),
 ('Domingo', 'Cortes', 8.9),
 ('Domingo', 'Cortes', 9.1),
 ('Colt', 'Steele', 4.5),
 ('Colt', 'Steele', 8),
 ('Colt', 'Steele', 8.5),
 ('Colt', 'Steele', 8.9),
 ('Colt', 'Steele', 9.1),
 ('Colt', 'Steele', 9.3),
 ('Colt', 'Steele', 9.7),
 ('Colt', 'Steele', 9.9),
 ('Colt', 'Steele', 9.9),
 ('Colt', 'Steele', 9.9),
 ('Pinkie', 'Petit', 4.3),
 ('Pinkie', 'Petit', 7.5),
 ('Pinkie', 'Petit', 8.4),
 ('Pinkie', 'Petit', 8.8),
 ('Marlon', 'Crafford', None)]

In [33]:
%%sql
SELECT title FROM reviews
    RIGHT JOIN series ON series.id = reviews.series_id
    WHERE rating IS NULL;

 * sqlite:///tvshows.db
Done.

[('Malcolm In The Middle',), ('Pushing Daisies',)]