In [1]:
%load_ext sql

In [2]:
%sql sqlite:///string_function.db

**Tabla de trabajo**

In [3]:
%%sql
CREATE TABLE books 
	(
		book_id INT NOT NULL ,
		title VARCHAR(100),
		author_fname VARCHAR(100),
		author_lname VARCHAR(100),
		released_year INT,
		stock_quantity INT,
		pages INT,
		PRIMARY KEY(book_id)
	);

 * sqlite:///string_function.db
(sqlite3.OperationalError) table books already exists
[SQL: CREATE TABLE books
	(
		book_id INT NOT NULL ,
		title VARCHAR(100),
		author_fname VARCHAR(100),
		author_lname VARCHAR(100),
		released_year INT,
		stock_quantity INT,
		pages INT,
		PRIMARY KEY(book_id)
	);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [4]:
%%sql
INSERT INTO books (book_id,title, author_fname, author_lname, released_year, stock_quantity, pages)
VALUES
(1,'The Namesake', 'Jhumpa', 'Lahiri', 2003, 32, 291),
(2,'Norse Mythology', 'Neil', 'Gaiman',2016, 43, 304),
(3,'American Gods', 'Neil', 'Gaiman', 2001, 12, 465),
(4,'Interpreter of Maladies', 'Jhumpa', 'Lahiri', 1996, 97, 198),
(5,'A Hologram for the King: A Novel', 'Dave', 'Eggers', 2012, 154, 352),
(6,'The Circle', 'Dave', 'Eggers', 2013, 26, 504),
(7,'The Amazing Adventures of Kavalier & Clay', 'Michael', 'Chabon', 2000, 68, 634),
(8,'Just Kids', 'Patti', 'Smith', 2010, 55, 304),
(9,'A Heartbreaking Work of Staggering Genius', 'Dave', 'Eggers', 2001, 104, 437),
(10,'Coraline', 'Neil', 'Gaiman', 2003, 100, 208),
(11,'What We Talk About When We Talk About Love: Stories', 'Raymond', 'Carver', 1981, 23, 176),
(12,"Where I'm Calling From: Selected Stories", 'Raymond', 'Carver', 1989, 12, 526),
(13,'White Noise', 'Don', 'DeLillo', 1985, 49, 320),
(14,'Cannery Row', 'John', 'Steinbeck', 1945, 95, 181),
(15,'Oblivion: Stories', 'David', 'Foster Wallace', 2004, 172, 329),
(16,'Consider the Lobster', 'David', 'Foster Wallace', 2005, 92, 343);

 * sqlite:///string_function.db
(sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id
[SQL: INSERT INTO books (book_id,title, author_fname, author_lname, released_year, stock_quantity, pages)
VALUES
(1,'The Namesake', 'Jhumpa', 'Lahiri', 2003, 32, 291),
(2,'Norse Mythology', 'Neil', 'Gaiman',2016, 43, 304),
(3,'American Gods', 'Neil', 'Gaiman', 2001, 12, 465),
(4,'Interpreter of Maladies', 'Jhumpa', 'Lahiri', 1996, 97, 198),
(5,'A Hologram for the King: A Novel', 'Dave', 'Eggers', 2012, 154, 352),
(6,'The Circle', 'Dave', 'Eggers', 2013, 26, 504),
(7,'The Amazing Adventures of Kavalier & Clay', 'Michael', 'Chabon', 2000, 68, 634),
(8,'Just Kids', 'Patti', 'Smith', 2010, 55, 304),
(9,'A Heartbreaking Work of Staggering Genius', 'Dave', 'Eggers', 2001, 104, 437),
(10,'Coraline', 'Neil', 'Gaiman', 2003, 100, 208),
(11,'What We Talk About When We Talk About Love: Stories', 'Raymond', 'Carver', 1981, 23, 176),
(12,"Where I'm Calling From: Selected Stories", 'Raymond', 'Carver', 1989, 12, 526),
(13,'White Noise', 'Don', 'DeLillo', 1985, 49, 320),
(14,'Cannery Row', 'John', 'Steinbeck', 1945, 95, 181),
(15,'Oblivion: Stories', 'David', 'Foster Wallace', 2004, 172, 329),
(16,'Consider the Lobster', 'David', 'Foster Wallace', 2005, 92, 343);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [5]:
%sql SELECT * FROM books

 * sqlite:///string_function.db
Done.

[(1, 'The Namesake', 'Jhumpa', 'Lahiri', 2003, 32, 291),
 (2, 'Norse Mythology', 'Neil', 'Gaiman', 2016, 43, 304),
 (3, 'American Gods', 'Neil', 'Gaiman', 2001, 12, 465),
 (4, 'Interpreter of Maladies', 'Jhumpa', 'Lahiri', 1996, 97, 198),
 (5, 'A Hologram for the King: A Novel', 'Dave', 'Eggers', 2012, 154, 352),
 (6, 'The Circle', 'Dave', 'Eggers', 2013, 26, 504),
 (7, 'The Amazing Adventures of Kavalier & Clay', 'Michael', 'Chabon', 2000, 68, 634),
 (8, 'Just Kids', 'Patti', 'Smith', 2010, 55, 304),
 (9, 'A Heartbreaking Work of Staggering Genius', 'Dave', 'Eggers', 2001, 104, 437),
 (10, 'Coraline', 'Neil', 'Gaiman', 2003, 100, 208),
 (11, 'What We Talk About When We Talk About Love: Stories', 'Raymond', 'Carver', 1981, 23, 176),
 (12, "Where I'm Calling From: Selected Stories", 'Raymond', 'Carver', 1989, 12, 526),
 (13, 'White Noise', 'Don', 'DeLillo', 1985, 49, 320),
 (14, 'Cannery Row', 'John', 'Steinbeck', 1945, 95, 181),
 (15, 'Oblivion: Stories', 'David', 'Foster Wallace', 2004, 172, 329),
 (16, 'Consider the Lobster', 'David', 'Foster Wallace', 2005, 92, 343)]

#### **STRING FUNCTIONS** ####


| Name                 | Description                                                                                             |
|----------------------|---------------------------------------------------------------------------------------------------------|
| ASCII()              | Return numeric value of left-most character                                                             |
| BIN()                | Return a string containing binary representation of a number                                            |
| BIT_LENGTH()         | Return length of argument in bits                                                                       |
| CHAR()               | Return the character for each integer passed                                                            |
| CHAR_LENGTH()        | Return number of characters in argument                                                                 |
| CHARACTER_LENGTH()   | Synonym for CHAR_LENGTH()                                                                               |
| CONCAT()             | Return concatenated string                                                                              |
| CONCAT_WS()          | Return concatenate with separator                                                                       |
| ELT()                | Return string at index number                                                                           |
| EXPORT_SET()         | Return a string for each bit set/unset in value                                                         |
| FIELD()              | Index (position) of first argument in subsequent arguments                                              |
| FIND_IN_SET()        | Index (position) of first argument within second argument                                               |
| FORMAT()             | Return a number formatted to specified decimal places                                                   |
| FROM_BASE64()        | Decode base64 encoded string and return result                                                          |
| HEX()                | Hexadecimal representation of decimal or string value                                                   |
| INSERT()             | Insert substring at specified position up to specified number of characters                             |
| INSTR()              | Return index of the first occurrence of substring                                                       |
| LCASE()              | Synonym for LOWER()                                                                                     |
| LEFT()               | Return the leftmost number of characters                                                                |
| LENGTH()             | Return the length of a string in bytes                                                                  |
| LIKE                 | Simple pattern matching                                                                                 |
| LOAD_FILE()          | Load the named file                                                                                     |
| LOCATE()             | Return the position of the first occurrence of substring                                                |
| LOWER()              | Return the argument in lowercase                                                                        |
| LPAD()               | Return the string argument, left‑padded with the specified string                                       |
| LTRIM()              | Remove leading spaces                                                                                    |
| MAKE_SET()           | Return a set of comma-separated strings for corresponding bits set                                      |
| MATCH()              | Perform full-text search                                                                                |
| MID()                | Return a substring starting from the specified position                                                 |
| NOT LIKE             | Negation of simple pattern matching                                                                     |
| NOT REGEXP           | Negation of REGEXP                                                                                      |
| OCT()                | Octal representation of a number                                                                        |
| OCTET_LENGTH()       | Synonym for LENGTH()                                                                                    |
| ORD()                | Return character code for leftmost character                                                            |
| POSITION()           | Synonym for LOCATE()                                                                                    |
| QUOTE()              | Escape the argument for use in an SQL statement                                                         |
| REGEXP               | Whether string matches regular expression                                                               |
| REGEXP_INSTR()       | Starting index of substring matching regular expression                                                 |
| REGEXP_LIKE()        | Whether string matches regular expression                                                               |
| REGEXP_REPLACE()     | Replace substrings matching regular expression                                                          |
| REGEXP_SUBSTR()      | Return substring matching regular expression                                                            |
| REPEAT()             | Repeat a string the specified number of times                                                           |
| REPLACE()            | Replace occurrences of a specified string                                                               |
| REVERSE()            | Reverse the characters in a string                                                                      |
| RIGHT()              | Return the specified rightmost number of characters                                                     |
| RLIKE                | Whether string matches regular expression                                                               |
| RPAD()               | Append string the specified number of times                                                             |
| RTRIM()              | Remove trailing spaces                                                                                  |
| SOUNDEX()            | Return a soundex string                                                                                 |
| SOUNDS LIKE          | Compare sounds                                                                                          |
| SPACE()              | Return a string of the specified number of spaces                                                       |
| STRCMP()             | Compare two strings                                                                                     |
| SUBSTR()             | Return the substring as specified                                                                       |
| SUBSTRING()          | Return the substring as specified                                                                       |
| SUBSTRING_INDEX()    | Return substring before the specified number of occurrences of the delimiter                            |
| TO_BASE64()          | Convert argument to base‑64 string                                                                      |
| TRIM()               | Remove leading and trailing spaces                                                                      |
| UCASE()              | Synonym for UPPER()                                                                                     |
| UNHEX()              | Return a string containing hex representation of a number                                               |
| UPPER()              | Convert to uppercase                                                                                    |
| WEIGHT_STRING()      | Return the weight string for a string                                                                   |

#### **CONCAT** ####

In [6]:
%sql SELECT CONCAT('a','b');

 * sqlite:///string_function.db
Done.

[('ab',)]

In [7]:
%%sql 
SELECT CONCAT(author_fname,' ',author_lname) AS Complete_name FROM books;

 * sqlite:///string_function.db
Done.

[('Jhumpa Lahiri',),
 ('Neil Gaiman',),
 ('Neil Gaiman',),
 ('Jhumpa Lahiri',),
 ('Dave Eggers',),
 ('Dave Eggers',),
 ('Michael Chabon',),
 ('Patti Smith',),
 ('Dave Eggers',),
 ('Neil Gaiman',),
 ('Raymond Carver',),
 ('Raymond Carver',),
 ('Don DeLillo',),
 ('John Steinbeck',),
 ('David Foster Wallace',),
 ('David Foster Wallace',)]

#### **CONCAT_WS** ####

In [8]:
%%sql 
SELECT CONCAT_WS (' - ',title	,author_fname,author_lname) AS Complete_name FROM books;

 * sqlite:///string_function.db
Done.

[('The Namesake - Jhumpa - Lahiri',),
 ('Norse Mythology - Neil - Gaiman',),
 ('American Gods - Neil - Gaiman',),
 ('Interpreter of Maladies - Jhumpa - Lahiri',),
 ('A Hologram for the King: A Novel - Dave - Eggers',),
 ('The Circle - Dave - Eggers',),
 ('The Amazing Adventures of Kavalier & Clay - Michael - Chabon',),
 ('Just Kids - Patti - Smith',),
 ('A Heartbreaking Work of Staggering Genius - Dave - Eggers',),
 ('Coraline - Neil - Gaiman',),
 ('What We Talk About When We Talk About Love: Stories - Raymond - Carver',),
 ("Where I'm Calling From: Selected Stories - Raymond - Carver",),
 ('White Noise - Don - DeLillo',),
 ('Cannery Row - John - Steinbeck',),
 ('Oblivion: Stories - David - Foster Wallace',),
 ('Consider the Lobster - David - Foster Wallace',)]

#### **SUBSTRING** ####

In [9]:
%%sql
SELECT SUBSTRING(title,1,100) FROM books

 * sqlite:///string_function.db
Done.

[('The Namesake',),
 ('Norse Mythology',),
 ('American Gods',),
 ('Interpreter of Maladies',),
 ('A Hologram for the King: A Novel',),
 ('The Circle',),
 ('The Amazing Adventures of Kavalier & Clay',),
 ('Just Kids',),
 ('A Heartbreaking Work of Staggering Genius',),
 ('Coraline',),
 ('What We Talk About When We Talk About Love: Stories',),
 ("Where I'm Calling From: Selected Stories",),
 ('White Noise',),
 ('Cannery Row',),
 ('Oblivion: Stories',),
 ('Consider the Lobster',)]

In [10]:
%%sql
SELECT SUBSTRING(title, 1) FROM books

 * sqlite:///string_function.db
Done.

[('The Namesake',),
 ('Norse Mythology',),
 ('American Gods',),
 ('Interpreter of Maladies',),
 ('A Hologram for the King: A Novel',),
 ('The Circle',),
 ('The Amazing Adventures of Kavalier & Clay',),
 ('Just Kids',),
 ('A Heartbreaking Work of Staggering Genius',),
 ('Coraline',),
 ('What We Talk About When We Talk About Love: Stories',),
 ("Where I'm Calling From: Selected Stories",),
 ('White Noise',),
 ('Cannery Row',),
 ('Oblivion: Stories',),
 ('Consider the Lobster',)]

In [11]:
%%sql
SELECT SUBSTRING(title, -2) FROM books

 * sqlite:///string_function.db
Done.

[('ke',),
 ('gy',),
 ('ds',),
 ('es',),
 ('el',),
 ('le',),
 ('ay',),
 ('ds',),
 ('us',),
 ('ne',),
 ('es',),
 ('es',),
 ('se',),
 ('ow',),
 ('es',),
 ('er',)]

#### **Combined funcions** ####

In [14]:
%sql SELECT CONCAT(SUBSTRING(title,1,10),'...') FROM Books;

 * sqlite:///string_function.db
Done.

[('The Namesa...',),
 ('Norse Myth...',),
 ('American G...',),
 ('Interprete...',),
 ('A Hologram...',),
 ('The Circle...',),
 ('The Amazin...',),
 ('Just Kids...',),
 ('A Heartbre...',),
 ('Coraline...',),
 ('What We Ta...',),
 ("Where I'm ...",),
 ('White Nois...',),
 ('Cannery Ro...',),
 ('Oblivion: ...',),
 ('Consider t...',)]

In [22]:
%%sql
SELECT CONCAT(
    SUBSTRING(author_fname,1,1),
    '.',
    SUBSTRING(author_lname,1,1),
    '.')
AS Autor_initials 
FROM Books;

 * sqlite:///string_function.db
Done.

[('J.L.',),
 ('N.G.',),
 ('N.G.',),
 ('J.L.',),
 ('D.E.',),
 ('D.E.',),
 ('M.C.',),
 ('P.S.',),
 ('D.E.',),
 ('N.G.',),
 ('R.C.',),
 ('R.C.',),
 ('D.D.',),
 ('J.S.',),
 ('D.F.',),
 ('D.F.',)]

#### **Replace** ####

In [23]:
%%sql
SELECT REPLACE('Hello World', 'Hell', '%$#@');
 
SELECT REPLACE('Hello World', 'l', '7');
 
SELECT REPLACE('Hello World', 'o', '0');
 
SELECT REPLACE('HellO World', 'o', '*');
 
SELECT
  REPLACE('cheese bread coffee milk', ' ', ' and ');
 
SELECT REPLACE(title, 'e ', '3') FROM books;
 
SELECT REPLACE(title, ' ', '-') FROM books;

 * sqlite:///string_function.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[('The-Namesake',),
 ('Norse-Mythology',),
 ('American-Gods',),
 ('Interpreter-of-Maladies',),
 ('A-Hologram-for-the-King:-A-Novel',),
 ('The-Circle',),
 ('The-Amazing-Adventures-of-Kavalier-&-Clay',),
 ('Just-Kids',),
 ('A-Heartbreaking-Work-of-Staggering-Genius',),
 ('Coraline',),
 ('What-We-Talk-About-When-We-Talk-About-Love:-Stories',),
 ("Where-I'm-Calling-From:-Selected-Stories",),
 ('White-Noise',),
 ('Cannery-Row',),
 ('Oblivion:-Stories',),
 ('Consider-the-Lobster',)]

#### **Reverse** ####

In [24]:
%%sql
SELECT REVERSE('Hello World');
 
SELECT REVERSE('meow meow');
 
SELECT REVERSE(author_fname) FROM books;
 
SELECT CONCAT('woof', REVERSE('woof'));
 
SELECT CONCAT(author_fname, REVERSE(author_fname)) FROM books;

 * sqlite:///string_function.db
(sqlite3.OperationalError) no such function: REVERSE
[SQL: SELECT REVERSE('Hello World');]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### CHAR_Lenght ####

In [25]:
%%sql
SELECT CHAR_LENGTH('Hello World');
 
SELECT CHAR_LENGTH(title) as length, title FROM books;
 
SELECT author_lname, CHAR_LENGTH(author_lname) AS 'length' FROM books;
 
SELECT CONCAT(author_lname, ' is ', CHAR_LENGTH(author_lname), ' characters long') FROM books;

 * sqlite:///string_function.db
(sqlite3.OperationalError) no such function: CHAR_LENGTH
[SQL: SELECT CHAR_LENGTH('Hello World');]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### **UPPER-LOWER** ####

In [26]:
%%sql
SELECT UPPER('Hello World');
 
SELECT LOWER('Hello World');
 
SELECT UPPER(title) FROM books;
 
SELECT CONCAT('MY FAVORITE BOOK IS ', UPPER(title)) FROM books;
 
SELECT CONCAT('MY FAVORITE BOOK IS ', LOWER(title)) FROM books;

 * sqlite:///string_function.db
Done.
Done.
Done.
Done.
Done.

[('MY FAVORITE BOOK IS the namesake',),
 ('MY FAVORITE BOOK IS norse mythology',),
 ('MY FAVORITE BOOK IS american gods',),
 ('MY FAVORITE BOOK IS interpreter of maladies',),
 ('MY FAVORITE BOOK IS a hologram for the king: a novel',),
 ('MY FAVORITE BOOK IS the circle',),
 ('MY FAVORITE BOOK IS the amazing adventures of kavalier & clay',),
 ('MY FAVORITE BOOK IS just kids',),
 ('MY FAVORITE BOOK IS a heartbreaking work of staggering genius',),
 ('MY FAVORITE BOOK IS coraline',),
 ('MY FAVORITE BOOK IS what we talk about when we talk about love: stories',),
 ("MY FAVORITE BOOK IS where i'm calling from: selected stories",),
 ('MY FAVORITE BOOK IS white noise',),
 ('MY FAVORITE BOOK IS cannery row',),
 ('MY FAVORITE BOOK IS oblivion: stories',),
 ('MY FAVORITE BOOK IS consider the lobster',)]

#### **INSERT** ####

In [29]:
%%sql
SELECT INSERT('Hello Bobby', 6, 0, 'There');

 * sqlite:///string_function.db
(sqlite3.OperationalError) near "INSERT": syntax error
[SQL: SELECT INSERT('Hello Bobby', 6, 0, 'There');]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### **LEFT** ####

In [30]:
%sql SELECT LEFT('omghahalol!', 3);

 * sqlite:///string_function.db
(sqlite3.OperationalError) no such function: LEFT
[SQL: SELECT LEFT('omghahalol!', 3);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### **RIGHT** ####

In [31]:
%sql SELECT RIGHT('omghahalol!', 4);

 * sqlite:///string_function.db
(sqlite3.OperationalError) no such function: RIGHT
[SQL: SELECT RIGHT('omghahalol!', 4);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### **REPEAT** ####

In [32]:
%sql SELECT REPEAT('ha', 4);

 * sqlite:///string_function.db
(sqlite3.OperationalError) no such function: REPEAT
[SQL: SELECT REPEAT('ha', 4);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### **TRIM** ####

In [ ]:
%sql SELECT TRIM('  pickle  ');