#### **UNIQUE** ####
```sql
CREATE TABLE contacts (
	name VARCHAR(100) NOT NULL,
    phone VARCHAR(15) NOT NULL UNIQUE
);
 
INSERT INTO contacts (name, phone)
VALUES ('billybob', '8781213455');
 
-- This insert would result in an error:
INSERT INTO contacts (name, phone)
VALUES ('billybob', '8781213455');

#### **CHECK Constraints** ####

```sql
CREATE TABLE users (
	username VARCHAR(20) NOT NULL,
    age INT CHECK (age > 0)
);
 
CREATE TABLE palindromes (
  word VARCHAR(100) CHECK(REVERSE(word) = word)
)

#### **NAME Constraint** ####

```sql
CREATE TABLE users2 (
    username VARCHAR(20) NOT NULL,
    age INT,
    CONSTRAINT age_not_negative CHECK (age >= 0)
);
 
CREATE TABLE palindromes2 (
  word VARCHAR(100),
  CONSTRAINT word_is_palindrome CHECK(REVERSE(word) = word)
);

#### **Multi-Columcheck** ####
```sql
CREATE TABLE companies (
    name VARCHAR(255) NOT NULL,
    address VARCHAR(255) NOT NULL,
    CONSTRAINT name_address UNIQUE (name , address)
);
 
CREATE TABLE houses (
  purchase_price INT NOT NULL,
  sale_price INT NOT NULL,
  CONSTRAINT sprice_gt_pprice CHECK(sale_price >= purchase_price)
);

#### **ALTER TABLE:Adding Columns** ####

| Operación en MySQL | Descripción | Ejemplo de uso |
|---------------------|-------------|-----------------|
| ADD COLUMN | Agrega una nueva columna a la tabla | Agregar columna `edad` |
| ADD COLUMN … FIRST | Agrega una columna al inicio de la tabla | Agregar `nombre` al inicio |
| ADD COLUMN … AFTER | Agrega una columna después de otra existente | Agregar `ciudad` después de `pais` |
| DROP COLUMN | Elimina una columna | Eliminar columna `edad` |
| MODIFY COLUMN | Cambia el tipo de datos o atributos de una columna | Convertir `edad` a INT |
| CHANGE COLUMN | Cambia nombre y tipo de una columna | Renombrar `nombre` a `full_name` |
| RENAME TO | Cambia el nombre completo de la tabla | Renombrar tabla `people` a `personas` |
| ADD CONSTRAINT | Agrega una restricción (PRIMARY, UNIQUE, FOREIGN KEY) | Agregar FK `id_country` |
| DROP CONSTRAINT | Elimina una restricción (incluye FOREIGN KEY) | Quitar FK `fk_country` |
| ADD PRIMARY KEY | Define una clave primaria | Agregar PK a `id` |
| DROP PRIMARY KEY | Elimina la clave primaria | Quitar PK existente |
| ADD UNIQUE | Define una columna o grupo como único | Hacer `email` único |
| DROP INDEX | Quita un índice o unique index | Quitar índice `email_unique` |
| ADD INDEX | Crea un índice normal | Crear índice en `apellido` |
| ADD FOREIGN KEY | Agrega una clave foránea | Relacionar `id_role` con `roles(id)` |
| DROP FOREIGN KEY | Elimina una clave foránea | Eliminar FK `fk_role` |
| ALTER COLUMN SET DEFAULT | Define valor por defecto | Poner default 'activo' |
| ALTER COLUMN DROP DEFAULT | Quita el valor por defecto | Eliminar default de `estado` |

```sql
ALTER TABLE companies 
ADD COLUMN phone VARCHAR(15);
 
ALTER TABLE companies
ADD COLUMN employee_count INT NOT NULL DEFAULT 1;

ALTER TABLE companies DROP COLUMN phone;

#### **RENAME TABLE** ####

```sql
RENAME TABLE companies to suppliers;


ALTER TABLE suppliers RENAME TO companies;


ALTER TABLE companies
RENAME COLUMN name TO company_name;

#### **ALTER MODIFY Existing COLUMN** ####

```sql
ALTER TABLE companies
MODIFY company_name VARCHAR(100) DEFAULT 'unknown';


ALTER TABLE suppliers
CHANGE business biz_name VARCHAR(50);

#### **MODIFY CONSTRAINTS** ####
```sql
ALTER TABLE houses 
ADD CONSTRAINT positive_pprice CHECK (purchase_price >= 0);


ALTER TABLE houses DROP CONSTRAINT positive_pprice;