## Creatging_databases_tables ##

#### **Cargar el SQL en Jupyter** ####

In [10]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### **Creacion de Base de datos** ###
- CREATE DATABASE prueba;

In [11]:
"Crea una base de datos para SQLite"
%sql sqlite:///prueba.db

#### **Eliminar base de datos** ###

- DROP DATABASE prueba;

Se elimina directamente en el sqlite

#### **Mostrar base de datos** ####
- show databases;

In [12]:
"Muestra un listado de base de datos para sqlite"
%sql PRAGMA database_list;

   sqlite://
 * sqlite:///prueba.db
Done.

[(0, 'main', 'c:\\Users\\aguiar3\\OneDrive - Faurecia\\IA Project\\Training\\SQL\\1\\UDEMY Training\\MySQLTraining1-Colt Steele\\prueba.db')]

#### **Usar base de datos** ###
- USE prueba,

In [13]:
"Usar la base de datos que necesitas"
%sql sqlite:///prueba.db

#### **DataTypes** ####

Numerical

- INT
- DECIMAL
- FLOAT
- DOUBLE
- BIT

String

- CHAR
- VARCHAR
- TEXT
- ENUM

##### Excercise #####

- username VARCHAR(15)
- contect VARCHAR (140)
- numoffavorites INT

#### **Crear Tablas** ###

In [14]:
%%sql

CREATE TABLE tabla1(
    username VARCHAR(15),
    contect VARCHAR(140),
    favorites INT
);

   sqlite://
 * sqlite:///prueba.db
(sqlite3.OperationalError) table tabla1 already exists
[SQL: CREATE TABLE tabla1(
    username VARCHAR(15),
    contect VARCHAR(140),
    favorites INT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### **Mostrar Trablas** ####

- SHOW tables;
- SHOW COLUMNS FROM table1;
- DESC Cats;

In [ ]:
#Para mostrar tablas
%%sql
SELECT name
FROM sqlite_master
WHERE type="table";

   sqlite://
 * sqlite:///prueba.db
Done.

[('tabla1',)]

In [ ]:
#Para mostrar interiro de la tabla
%%sql
PRAGMA table_info(tabla1);

   sqlite://
 * sqlite:///prueba.db
Done.

[(0, 'username', 'VARCHAR(15)', 0, None, 0),
 (1, 'contect', 'VARCHAR(140)', 0, None, 0),
 (2, 'favorites', 'INT', 0, None, 0)]

#### **Destruir tablas** ####

In [22]:
%%sql
DROP TABLE tabla1;

   sqlite://
 * sqlite:///prueba.db
Done.

[]

#### **Comentarios** ####

-- Nota